.topnav {
    background-color: beige;
    overflow: hidden;
    font-family: Verdana, sans-serif;
}

.topnav a {
    float: left;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

footer {
    margin-top: 40px;
    bottom: 0;
}

.botnav {
    background-color: beige;
    overflow: hidden;
    font-family: Verdana, sans-serif;
}

.botnav a {
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

#owl-logo{
    float: left;
    width: 40px;
}

#banner-image {
    margin-top: 50px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.p-lore {
    font-family: Verdana, sans-serif;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}

.fa {
    float: right;
}

h1 {
    font-family: Verdana, sans-serif;
    color: darkgreen;
    margin-left: 2%;
}

.card {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.container {
    padding: 2px 16px;
}

.pc-images {
    width: 180px;
    height: 200px;
    align-content: center;
}

h4 {
    font-family: Verdana, sans-serif;
    color: navy;
}

div h4 {
    text-align: center;
    font-family: Verdana, sans-serif;
    color: navy;
}

div p {
    text-align: justify;
    font-family: Verdana, sans-serif;
    color: darkslateblue;
    margin-left: 100px;
    margin-right: 100px;
}

div li {
    font-family: Verdana, sans-serif;
    color: darkslateblue;
    margin-right: 100px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 8px;
}

.hov {
    background-color: white;
    color: black;
    border: 2px solid darkslateblue;
}

.hov:hover {
    background-color: darkslateblue;
    color: white;
}

.product-text {
    text-align: justify;
    margin-right: 70%;
    margin-left: 2%;
    font-family: Verdana, sans-serif;
    color: black;
}

.basket-text {
    text-align: justify;
    margin-right: 10%;
    margin-left: 2%;
    font-family: Verdana, sans-serif;
    color: black;
}

.product-list {
    font-family: Verdana, sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}