.topnav {
    background-color: beige;
    overflow: hidden;
    font-family: Verdana, sans-serif;
}

.topnav a {
    float: left;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

footer {
    margin-top: 40px;
}

.botnav {
    background-color: beige;
    overflow: hidden;
    font-family: Verdana, sans-serif;
}

.botnav a {
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

#owl-logo{
    float: left;
    width: 40px;
}

#banner-image {
    margin-top: 50px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.p-lore {
    font-family: Verdana, sans-serif;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
}

.fa {
    float: right;
}

h1 {
    font-family: Verdana, sans-serif;
    color: darkgreen;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}
